{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'single_quiz.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script>
        // quiz content json from flask
        let quiz_content={{quiz_content|safe}}
        let q1 = quiz_content[0]
        console.log(q1)
        /*
        let question={{question}}
        let answer="{{key}}"
        let prompt = ""
        let media = '{{quiz_content['key_media']}}'*/
        console.log(typeof quiz_content)
    </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <h1 id="head"></h1>
    <div class="app-container">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="row" id="details_here">
                        <p id="question" class="question col-10"></p>
                        <div id="hint" class="col-2 title">
                            <a id="hint-href" href="#" title="That&apos;s the Hint">
                                <img src="../static/lightbulb.png" alt="hint" id="hint_img" width="40px" height="40px">
                                <div class="font-standard">Hover for hint</div>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="piano_section">
                        <div id="media"><img src=""></div>
                    </div>
                    <br>
                    <!--radio button group-->
                    <div class="row">
                        <div id="radio-buttons" class="btn-group-vertical btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                            <label id="option_1" class="btn btn-outline-primary" for="btnradio1"></label>
                        
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label id="option_2" class="btn btn-outline-primary" for="btnradio2"></label>
                        
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label id="option_3" class="btn btn-outline-primary" for="btnradio3"></label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <label id="option_4" class="btn btn-outline-primary" for="btnradio4"></label>
                        </div>                
                    </div>
                    <br>
                    <!--media-->
                    <div class="row">
                        <!--buttons-->
                        <div id="buttons"></div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}
