{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>

    <div class="app-container" id="homepageBackground" >
        <div class="title">
            <h1>Learn music with us!</h1>
        </div>
        <br>
        <div class="font-standard" style="text-align:right">
            Try learning basic music theory including<br>
            <div style="font-weight:bold">"Notes, Keys, and Scales"<br></div>
            Click on the Start Learning button to begin our journey :)
        </div>
        <br>
        <br>
        <div style="text-align:right">
            <button id="start_button" type="button" class="btn btn-primary btn-lg">Start Learning!</button>
        </div>
    </div>
{% endblock %}
